@font-face {
    font-family: "Source Sans Pro";
    src: url(github://google/fonts/blob/master/ofl/sourcesanspro/SourceSansPro-Light.ttf);
}
#Device {
    min-resolution: 120dpi;
    max-resolution: 480dpi;
    resolution: 480dpi;
}


#Constants {
    PopupDialogArrowBool: false;
    calTitleDayStyleBool: true;
    calTransitionVertBool: false;
    calendarLeftImage: "cal_left_arrow.png";
    calendarRightImage: "cal_right_arrow.png";
    centeredPopupBool: false;
    checkBoxCheckDisFocusImage: "Check-Box_Normal.png";
    checkBoxCheckedFocusImage: "Check-Box_Press.png";
    checkBoxCheckedImage: "Check-Box_Press.png";
    checkBoxOppositeSideBool: true;
    checkBoxUncheckedFocusImage: "Check-Box_Normal.png";
    checkBoxUncheckedImage: "Check-Box_Normal.png";
    comboImage: "combo.png";
    commandBehavior: "Side";
    dialogTransitionIn: "fade";
    dialogTransitionOut: "fade";
    dlgButtonCommandUIID: "DialogButton";
    dlgCommandGridBool: true;
    dlgInvisibleButtons: #1a1a1a;
    formTransitionIn: "empty";
    formTransitionOut: "slide";
    includeNativeBool: true;
    menuImage: "of_menu.png";
    noTextModeBool: true;
    onOffIOSModeBool: true;
    otherPopupRendererBool: false;
    pureTouchBool: true;
    radioSelectedFocusImage: "Radio_btn_Press.png";
    radioSelectedImage: "Radio_btn_Press.png";
    radioUnselectedFocusImage: "Radio_btn_Normal.png";
    radioUnselectedImage: "Radio_btn_Normal.png";
    sideMenuImage: "menu.png";
    switchMaskImage: "switch_mask.png";
    switchOffImage: "switch_off.png";
    switchOnImage: "switch_on.png";
    tabPlacementInt: 0;
}






TitleArea {
    background-color: rgba(0,0,0,0);
}

TitleCommand, BackCommand, Title {
    color: white;
    text-decoration: none;
    font-family: "Source Sans Pro";
    
}

TitleCommand.pressed, BackCommand.pressed {
    color: gray;
}

ButtonsForm {
    cn1-derive: Form;
    background-color: black;
}

ButtonsFormContent {
    background-color: white;
}

BlueRoundedButton {
    background-color: blue;
    color: white;
    border-radius: 10pt;
    padding: 20pt;
    
}


ArtieRound1 {
    width: 40pt;
    height: 40pt;
    border-radius: 20pt;
    border: 1pt solid black;
    text-align: center;
}

ArtieBar1 {
	box-shadow: 0pt 0pt 3pt 3pt rgba(0,0,0,0.25);		
}

ArtieHugeLabel1 {
	color: #163966;
	text-decoration: cn1-3d-lowered;
	font-size: 100px;
}

TitleArea {
	box-shadow: 0pt 0pt 3pt 3pt rgba(0,0,0,0.25);
	padding-top: 0.5mm;
	padding-left: 0.5mm;
	padding-bottom: 0.5mm;
	padding-right: 0.5mm;
}

ArtieNavButton1 {
	font-size: 10pt;	
	color: #1f569d;
}

ArtieContent1 {
	box-shadow: 0pt 0pt 10pt 10pt rgba(227,227,227,1);
	padding-left: 3mm;
	padding-right: 3mm;
	padding-bottom: 3mm;
	padding-top: 3mm;
	
}


