#Constants { 
    includeNativeBool: true; 
}

RoundRectLabel {
    background-color: red;
    border-radius: 2mm;
    
}

RoundRectLabelTopOnly {
    
    background-color: blue;
    border-radius: 2mm 2mm 0 0;
}

RoundRectLabelBottomOnly {
    
    background-color: blue;
    border-radius: 0 0 2mm 2mm;
}

RoundRectLabelStroked {
    background-color: red;
    border-radius: 2mm;
    border: 0.5mm solid black;
}
/*
RoundRectLabelWithShadow {
    background-color: red;
    border-radius: 2mm;
    box-shadow: 1mm 2mm;
}

RoundRectLabelWithShadowBlur {
    background-color: red;
    border-radius: 2mm;
    box-shadow: 0.5mm 1mm 1mm;
}*/